<div class="col-md-12 mt-4 text-center">
  <div class="inicio">Área do Aluno</div>
</div>
<div class="d-flex justify-content-center">
  <div class="col-md-4 col-sm-12 mt-3">
    <button type="button"  (click)="frequencia()" class="btn btn-success col-md-12 ">FREQUÊNCIA</button>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="col-md-4 col-sm-12 mt-4">
    <button type="button" (click)="consultaFrequencia()" class="btn btn-info col-md-12">CONSULTA FREQUÊNCIA</button>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="col-md-4 col-sm-12 mt-4">
    <button type="button" (click)="consultaExercicio()" class="btn btn-primary col-md-12">CONSULTA EXERCICÍOS</button>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="col-md-4 col-sm-12 mt-4">
    <button type="button" (click)="consultaPagamento()" class="btn btn-secondary col-md-12">CONSULTA PAGAMENTO</button>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="col-md-4 col-sm-12 mt-4">
    <a type="button" href="#" (click)="exit()"  class="btn btn-danger col-md-12 d-flex justify-content-center d-flex align-items-center">SAIR</a>
  </div>
</div>



